.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #c8e1e2;
  /* background-color: blueviolet; */
}

.headerLogo {
  display: flex;
  margin-left: 45px;
}

.headerText {
  font-weight: 400;
  font-size: 22px;
  margin-left: 15px;
  color: #5bb2b5;
}

main {
  display: flex;
  justify-content: left;
  flex-grow: 1;

  /* background-color: rgb(194, 172, 214); */
}
aside {
  display: flex;
  flex: 0 0 220px;
  justify-content: center;
  padding-top: 60px;
  background-color: rgba(255, 255, 255);
  border-right: 1px solid #c8e1e2;
  font-size: 18px;
  margin-right: 20px;
  margin-left: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentHeader {
  display: flex;
  /* background-color: bisque; */
  text-align: center;
  margin: 20px auto;
}

.contentHeader > span {
  font-size: 26px;
  font-weight: bold;
}

.contentBody {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  text-align: center;
  justify-content: center;
}
